[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
pylint = "*"
djangorestframework-camel-case = "*"
pyjwt = "*"
requests = "*"
dj-database-url = "*"
django-on-heroku = "*"
django-cors-headers = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
